$color : rgb(84, 159, 235);
$white:#fff;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@function fSize($size){
    @return $size *2
}
@mixin sizes($size){
    color: $white;
    font-size: fSize($size)
}


.app{
    background-color:$color;
    min-height: 100svh;
    text-align: center;
    .counter{
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 200px;
        margin: 0 auto;
    }
    button{
        padding: 5px 10px;
        margin: 10px;
        cursor: pointer;
        border-radius: 4px;
        h3{
            font-size: 22px;
        }
    }
}